# custom files
# Default option
# custom/
## To keep custom configs but ignore themes and plugins uncomment:
# custom/**/

# temp files directories
cache/
log/
*.swp
.DS_Store

# editor configs
.vscode
.idea
